/* base styles */

$background-color-tablet: darkblue;
$background-color-desktop: darkgreen;

$base-font: "Open Sans", Helvetica, sans-serif;

$mobile-font-size: 14px;
$base-font-size: 16px;
$base-text-color: #ffffff;

$background-color: black;

$footer-text-colour: #c2c2c2;


* {
    box-sizing: border-box;
    outline: none;
}

/*mobile size css*/

body {
  font-size: $mobile-font-size;
  font-family: $base-font;

  background-color: $background-color;
  color: $base-text-color;

  a:link {
    color: $base-text-color;
  }

  a:visited {
    color: $base-text-color;
  }
}

.seo-description{
  display: none;
}

header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  height: 90vh;
  padding: 2rem;

  .logo {
    padding-bottom: 1rem;
    //transition: all .5s .5s ease-out;
    width: 60%;
    height: auto;

  }

  form {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;

    margin-bottom: 2rem;

    //text-align: center;
    //width: 300px;

    h2 {
      margin-bottom: 1rem;
      font-size: 0.75rem;
    }
  }
}

main {

  .newsItems {
    display: flex;
    flex-flow: row wrap;

    align-items: center;
    justify-content: center;

    //margin: 0 auto;
  }

  .loadingImage {
    width: 25%;
    height: 25%;
  }

  .newsItem {
    flex: 1 0 100%;
  }

  .newsImage {
    position: relative;

    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    padding-bottom: 100%;
  }

  .newsItemTextFormatting {
    /*text positioned at bottom*/
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(0, -100%);

    /*background transparent colour*/
    padding: 0.5rem;
    font-size: 0.9rem;
    line-height: 1.2rem;
    background-color: rgba(0,0,0,0.5);
  }

}

footer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 10vh;

  padding: 0 2rem;
  font-size: 0.8rem;

  color: $footer-text-colour;

  span {
    text-transform: uppercase;
  }
}



/*tablet size css*/
@media screen and (min-width: 600px) {

  body {
    background-color: $background-color-tablet;

    font-size: $base-font-size;
  }

  header {
    flex-flow: row;
  }

  main {
    .newsItem {
      flex: 1 0 50%;
    }
  }
}

/*desktop size css*/
@media screen and (min-width: 1000px) {

  body {
    background-color: $background-color-desktop;
  }

  main {
    .newsItem {
      flex: 1 0 25%;
    }
  }

}