/* base styles */

$background-color-tablet: darkblue;
$background-color-desktop: darkgreen;

$base-font: "Open Sans", Helvetica, sans-serif;
$base-font-size: 16px;
$base-text-color: #ffffff;

$background-color: black;

$footer-text-colour: #c2c2c2;


* {
    box-sizing: border-box;
    outline: none;
}

/*mobile size css*/

body {
    font-size: $base-font-size;
    font-family: $base-font;
    //font-weight: normal;
    //font-style: normal;

    background-color: $background-color;
    color: $base-text-color;

    //display: flex;
    //align-items: center;
    //justify-content: center;
}

.seo-description{
  display: none;
}

header {
  //align-self: flex-start;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  form {
    //text-align: center;
    //width: 300px;

    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
  }
}

main {

  .newsItems {
    display: flex;
    flex-flow: row wrap;
    //text-align: center;
  }

  .newsItem {
    flex: 1 0 100%;
    //position: relative;

  }

  .newsImage {
    /*needs work*/
    position: relative;

    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;



    padding-bottom: 100%;
  }

  .newsItemTextFormatting {
    /*text positioned at bottom*/
    position: absolute;

    top: 100%;
    left: 0;
    transform: translate(0, -100%);



    //font-family: 'Raleway Medium', Helvetica, sans-serif;
    //color: white;
    //text-transform: uppercase;
    //font-size: 1.5rem;
    //text-shadow: 2px 2px 7px #111111;
  }

}

footer {
  //align-self: flex-end;

  display: flex;
  justify-content: center;

  color: $footer-text-colour;

  span {
    text-transform: uppercase;
  }
}



/*tablet size css*/
@media screen and (min-width: 600px) {

  body {
    background-color: $background-color-tablet;
  }

  header {
    flex-flow: row;
  }

  main {
    .newsItem {
        flex: 1 0 50%;
    }
  }
}

/*desktop size css*/
@media screen and (min-width: 1000px) {

  body {
    background-color: $background-color-desktop;
  }

  main {
    .newsItem {
      flex: 1 0 25%;
    }
  }

}