/* base styles */
$background-color-tablet: darkblue;
$background-color-desktop: darkgreen;

$font-family-base: "Open Sans", Helvetica, sans-serif;

$font-size-mobile: 14px;
$font-size-base: 16px;

$text-color-base: #ffffff;
$text-colour-footer: #c2c2c2;

$background-color: black;

* {
    box-sizing: border-box;
    outline: none;
}

/*mobile size css*/
body {
  font-size: $font-size-mobile;
  font-family: $font-family-base;

  background-color: $background-color;
  color: $text-color-base;

  a:link {
    color: $text-color-base;
  }

  a:visited {
    color: $text-color-base;
  }
}

.seo-description{
  display: none;
}

header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  height: 90vh;
  padding: 2rem;

  .logo {
    height: 200px;
    width: auto;

    padding-bottom: 1rem;

    //transition: all .5s .5s ease-out;
  }

  form {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;

    margin-bottom: 2rem;

    h2 {
      margin-bottom: 1rem;
      font-size: 0.75rem;
    }
  }
}

main {

  .newsItems {
    display: flex;
    flex-flow: row wrap;

    align-items: center;
    justify-content: center;

    //margin: 0 auto;
  }

  .loadingImage {
    width: 25%;
    height: 25%;
  }

  .newsItem {
    flex: 1 0 100%;
  }

  .newsImage {
    position: relative;

    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    padding-bottom: 100%;
  }

  .newsItemTextFormatting {
    /*text positioned at bottom*/
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(0, -100%);

    /*background transparent colour*/
    padding: 0.5rem;
    font-size: 0.9rem;
    line-height: 1.2rem;
    background-color: rgba(0,0,0,0.5);
  }

}

footer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 10vh;

  padding: 0 2rem;
  font-size: 0.8rem;

  color: $text-colour-footer;

  span {
    text-transform: uppercase;
  }
}

/*tablet size css*/
@media screen and (min-width: 600px) {

  body {
    font-size: $font-size-base;
    background-color: $background-color-tablet;
  }

  header {
    flex-flow: row;
  }

  main {
    .newsItem {
      flex: 1 0 50%;
    }
  }
}

/*desktop size css*/
@media screen and (min-width: 1000px) {

  body {
    background-color: $background-color-desktop;
  }

  main {
    .newsItem {
      flex: 1 0 25%;
    }
  }

}